body {
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
	font-size: 100%;
	font-family: calibri;
}
.clear {
	clear: both
}
.center {
	align: center;
}
h1, h2, h3, h4, h5, h6, img, a, ul, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	outline: none;
	border: 0px;
	text-decoration: none;
}


.outerdiv
{
	border:0px solid red;
	width: 1225px;
	height: 665px;
}
.innerdiv
{
	border:0px solid grey;
	width:900px;
	height:560px;
	float:left;
	margin-left:150px;	
}
.header
{
	border:1px solid black;
	width:900px;
	height:80px;
	float:left;
	}
	
.header1
{
	border:0px solid red ;
	width:400px;
	height:80px;
	float:left;
}
.headera
{
	border:0px solid green ;
	width:200px;
	height:80px;
	float:left;
	background-image:url(../images/images%2061.jpg);
	background-repeat:no-repeat;
}
.headerb
{
	border:0px solid red ;
	width:170px;
	height:50px;
	float:left;
	font-size:24px;
	padding-top:30px;
}
.header2
{
	border:0px solid red ;
	width:400px;
	height:80px;
	float:right;
}
.header2a
{
	border:0px solid red ;
	width:180px;
	height:80px;
	float:left;
}
.header2a1
{
	border:0px solid red ;
	width:100px;
	height:40px;
	float:left;
	font-size:17px;
	padding-top:30px;
}
.header2a2
{
	border:0px solid red ;
	width:70px;
	height:40px;
	float:right;
	font-size:17px;
	padding-top:30px;
}
.header2a3
{
	border:0px solid red ;
	width:213px;
	height:80px;
	float:right;
	font-size:24px;
	
}
.content
{
	border: 0px solid #d7d7d7;
	
	width:900px;
	height:600px;
	float:left;
	margin-top:10px;
	font-size:30px;
	background-color:#f9f9f9;
	
	
	
}
.content1a
{
	border:0px solid blue;
	margin-bottom:600;
	width:900px;
	height:100px;
	float:left;
	background-image:url(../images/bg11.png);
	background-repeat:no-repeat;
	
}
	.content1b
{
	border:1px solid blue;
	width:690px;
	height:400px;
	float:left;
	font-size:25px;
	margin-left:100px;
	margin-top:30px;
}
.content1ba
{
	border:1px solid gray;
	width:690px;
	height:40px;
	float:left;
	font-size:25px;
	margin-right:500px;
	background-image:url(../images/header.png);
}
.content1ba1
{ 
    border:1px solid gray;
	width:150px;
	height:20px;
	float:left;
	font-size:25px;
	margin-top:4px;
	margin-left:10px;
	border-radius:4px;
	background-color:#CCC;
	padding-top:10px;
}
.content1ba2
{ 
    border:0px solid blue;
	width:100px;
	height:25px;
	float:right;
	font-size:25px;
	margin-top:4px;
	margin-left:10px;
	border-radius:4px;
	margin-right:30px;
	background-image:url(../images/reset1.png);
	background-repeat:no-repeat;
	background-position:center;

}
.content1a1
{
	
	border:0px solid blue;
	margin-bottom:600;
	width:296px;
	height:100px;
	float:left;
}
.textbox
{ 
   
	border:1px solid grey;
	border-radius:19px;
	width:250px;
	
	height:25px;
	
	font-size:20px;
	margin-top:4px;
	background-image:url(../images/search_button1.png);
	background-repeat:no-repeat;
	background-position:right;
	
	}
.submit
{ 
   
	border:1px solid grey;
	border-radius:4px;
	width:100px;
	
	height:10px;
	margin-left:240px;
	
	font-size:20px;
	background-color:#06F;
	color:#FFF;
	
	
	}
	.add1
	{
		float: left;
background-image:url(../images/add.png);
width: 16px;
height: 14px;
margin-bottom:6px;
margin-left: 8px;
}

 head {
width: 80px;
float: left;
font-size: 15px;
margin-left: 18px;
color: #626262;
}
